.mainPokemonlist {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pokemonsWrapper {
    padding-top: 40px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 50px;
}

.box {
    border-style: solid;
    border-radius: 25px;
    background-color: rgb(238, 232, 197);
    font-size: 20px;
    min-width: 200px;
    height: 400px;
}

.pokemonInfo {
    min-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.name {
    font-weight: bold;
}

.types {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.typeGrass {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(60, 206, 86);
    color: rgb(23, 80, 37);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 80, 37);
}

.typePoison {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(152, 60, 206);
    color: rgb(64, 23, 80);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(64, 23, 80);
}

.typeFire {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(206, 60, 60);
    color: rgb(80, 23, 23);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(80, 23, 23);
}

.typeWater {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(60, 123, 206);
    color: rgb(23, 50, 80);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 50, 80);
}

.typeFlying {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(191, 206, 60);
    color: rgb(70, 80, 23);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 80, 23);
}

.typeBug {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(241, 92, 229);
    color: rgb(70, 23, 80);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 23, 80);
}

.anotherType {
    margin: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

.loadMore {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadMoreBTN {
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 123, 206);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 50, 80);
    font-size: 20px;
}

.loadMoreBTN:hover {
    background-color: rgb(152, 188, 239);
    cursor: pointer;
}

.pokemonInfoShow {
    position: absolute;
    height: 400px;
    width: 200px;
}

.showInfoBTN {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 190px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 123, 206);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 50, 80);
}

.showInfoBTN:hover {
    background-color: rgb(152, 188, 239);
    cursor: pointer;
}

.pokemonInfoModal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.notActive {
    display: none;
}

.infoBlock {
    width: 500px;
    height: 500px;
    border-style: solid;
    background-color: rgb(238, 232, 197);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.table {
    width: 50%;
    border: 1px solid;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.infoBlock::-webkit-scrollbar {
    width: 10px;
}

.infoBlock::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
}

.infoBlock::-webkit-scrollbar-thumb {
    background: #888;
}

.infoBlock::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table th, .table td {
    border: 1px solid;
}